@import
  "abstracts/modules",
  "components/modules",
  "layout/modules";

* {
  margin: 0;
  padding: 0;
}

body {
  background: #222222;
  font-family: moon;
  color: white;
}

.content {
  height: auto;
  position: relative;
}

.anchor-point {
  display: none;
}

.scrollTop {
  background: #bbbbbb;
  color: $darkgray;
  text-align: center;
  width: 100%;
}

.scroll-from-bottom {
  @media #{$tablet} {
    display: none;
  }
}

footer {
  background: $darkgray;
  height: 50px;
  padding: 3%;
}
