@import
  "abstracts/modules",
  "layout/modules";

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav {
  position: fixed;
  height: 10vh;
  width: 100%;
  background: blue;
  z-index: 999;
}

.header {
  height: 15vh;
  background: red;
}

.content {
  height: auto;
  position: relative;
}

.grid {
  width: 70vw;
  height: 70vw;
  display: block;
  position: relative;
  margin: 10vh auto;
}

.grid img {
  width: 100%;
  height: auto;
}

body {
  background-image: url("../img/scenery-scroll/12.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background: yellow;
  height: 10vh;
}
