.nav {
  position: fixed;
  height: 10vh;
  top: 0;
  width: 100%;
  background: #dddddd;
  z-index: 999;
  @media #{$tablet} {
    // float: right;
    height: 100vh;
    width: 17vw;
    right: 0;
  }
  @media #{$desktop} {

  }
}

.nav-scroll {
  display: none;

  @media #{$tablet} {
    display: block;
    position: absolute;
    bottom: 0;
  }
}
