@mixin mobile {
  width: $grid-size-mobile;
  height: $grid-size-mobile;
}

@mixin tablet {
  width: $grid-size-tablet;
  height: $grid-size-tablet;
}

@mixin desktop {
  width: $grid-size-desktop;
  height: $grid-size-desktop;
}
